
- name: 'default' # name of this dashboard configuration (not dashboard itself)
  folder: ''      # name of the folder to put the dashboard
  type: 'file'    # type of dashboard description (json files)
  options:
    folder: '{{ grafana_dashboards_location_on_container }}' # where dashboards are (on container)